<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1 th:text="${message} + ${session.user.name} + '!'">Hello, World!</h1><br>
<a class="mac-link" href="/tests">Доступные тесты</a><br>
<a class="mac-link" href="/history">Моя история</a><br>
<a class="mac-link" href="../register">Регистрация</a><br>
<div th:if="${session.role != null and session.role.name() == 'ADMIN'}" style="margin-top:12px;">
    <hr>
    <h3>Админка</h3>
    <a class="mac-link" href="/admin">Перейти в админ-панель</a><br>
</div>
</body>
</html>

