<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"><title>Вход</title>
    <link rel="stylesheet" th:href="@{/assets/css/app.css}">
</head>
<body class="mac-page">
<h1 class="mac-title">Вход</h1>
<p th:if="${param.registered}" style="color:green">Аккаунт создан, войдите.</p>

<form class="mac-form" method="post" th:action="@{/login(next=${param.next})}" novalidate>
    <label>Email
        <input class="input-mac" name="email" type="email" required th:value="${dto != null} ? ${dto.email} : ${''}">
        <small class="small-err" th:if="${errors != null and errors['email']}" th:text="${errors['email']}" style="color:red"></small>
    </label><br>

    <label>Пароль
        <input class="input-mac" name="password" type="password" required>
        <small class="small-err" th:if="${errors != null and errors['password']}" th:text="${errors['password']}" style="color:red"></small>
    </label><br>

    <input type="hidden" name="next" th:value="${param.next}">
    <button type="submit" class="btn-mac">Войти</button>
</form>

<a class="mac-link" href="../register">Регистрация</a>
</body>
</html>