<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/assets/css/app.css}">
</head>
<body class="mac-page">

<h1 class="mac-title">Регистрация</h1>

<p th:if="${error}" th:text="${error}" style="color:red"></p>

<form class="mac-form" method="post" th:action="@{/register(next=${param.next})}" novalidate>

    <label>Email
        <input class="input-mac" name="email" type="email" required
               th:value="${dto != null} ? ${dto.email} : ${''}">
        <small class="small-err"
               th:if="${errors != null and errors['email']}"
               th:text="${errors['email']}"></small>
    </label>

    <label>Имя
        <input class="input-mac" name="name" type="text" required
               th:value="${dto != null} ? ${dto.name} : ${''}">
        <small class="small-err"
               th:if="${errors != null and errors['name']}"
               th:text="${errors['name']}"></small>
    </label>

    <label>Пароль
        <input class="input-mac" name="password" type="password" required>
        <small class="small-err"
               th:if="${errors != null and errors['password']}"
               th:text="${errors['password']}"></small>
    </label>

    <label>Повтор пароля
        <input class="input-mac" name="password2" type="password" required>
        <small class="small-err"
               th:if="${errors != null and errors['password2']}"
               th:text="${errors['password2']}"></small>
    </label>

    <input type="hidden" name="next" th:value="${param.next}">

    <button type="submit" class="btn-mac">Создать аккаунт</button>
</form>

<a class="mac-link" th:href="@{/login}">Уже есть аккаунт</a>

</body>
</html>
